@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
.firstContainer {
  height: 100vh;
  width: 100%; }

.bgNavbar {
  font-weight: 400, 1rem;
  letter-spacing: 0.6px;
  background: #3d0057;
  color: white;
  border: none; }
  .bgNavbar a {
    color: white; }
  .bgNavbar a:hover {
    color: white; }

.myPic img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 400px; }

.typedContainer {
  width: 400px; }

.titulo {
  font-family: "Prompt", sans-serif;
  color: #fff; }

.typedDevelop {
  color: #fff;
  font-size: 900, 1rem, italic; }

body {
  font-family: "Prompt", sans-serif; }

.containerAbout {
  padding: 20px; }

.aboutMy {
  width: 500px;
  height: 400px;
  border: solid 1px; }
